#analog_clock {
	position: absolute;
	right: 16px;
	bottom: 16px;
}

#analog_clock_h,
#analog_clock_m {
	stroke: #202020;
	transition: .8s;
	transform-origin: 50% 50%;
}

#date_calendar {
	position: absolute;
	right: 128px;
	bottom: 16px;
}


#booger {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    background: var(--booger-bg);
    background-color: var(--booger-bg);
    border-radius: 4px 8px 48px 8px;
    box-shadow: rgba(0,0,0,.2) 2px 2px 2px;
    z-index: 5;

    transform-origin: 0 50%;

    transition: border-radius .2s, height .2s, opacity .4s;
    transition-timing-function: cubic-bezier(0,1.5,1,1);
}

#sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    /*transform: translate(-100%);*/
    transition: .25s;
}

#backcolor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    /*transform: translate(-100%);*/
    background-color: #808080;
    mix-blend-mode: multiply;

    transition: .2s;
}

#txtSearch {
    margin-top: 40px;
    padding: 6px 8px;
    background-color: rgb(208,208,208);
    width: 400px;
    max-width: 80%;
    text-align: center;
    font-size: 20px;
    background-image: url(ico/search.svgz);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 4px 4px;
}

#grid {
    width: 90%;
    position: absolute;
    left: 5%;
    top: 192px;
    bottom: 128px;
    overflow-y: auto;
}

@media only screen and (max-height: 480px) {
    #grid {
        bottom: 8px;
    }

    #analog_clock,
    #date_calendar {
        opacity: 0;
        visibility: hidden;
        transform: translateY(96px);
        transition: .4s;
    }
}

#grid > div {
    background-color: rgb(224,224,224);
    box-shadow: rgb(160,160,160) 0 0px 4px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
    outline: none;

    transition: .1s;
}

#grid > div:focus,
#grid > div:hover {
    background-color: var(--theme-color);
    box-shadow: var(--theme-color) 0 0px 4px;
}

#grid > div:hover > div:nth-child(1) {
    transform: scale(1.1);
    transition: .2s;
}

#grid > div > div:nth-child(1) { /*icon*/
    width: 128px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#grid > div > div:nth-child(2) { /*name*/
    font-size: 14px;
    width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 0;
}


@media only screen and (max-height: 600px) {
    #grid > div {
        padding: 4px 8px;
        margin: 4px;
    }

    #grid > div > div:nth-child(1) { /*icon*/
        width: 96px;
        height: 72px;
    }

    #grid > div > div:nth-child(2) { /*name*/
        width: 96px;
        font-size: 12px;
        padding: 2px 0;
    }
}