:root {
    --sidemenu-width: 360px;
    --theme-color: #f32;
    --select-color: #f32;
    --control-color: rgb(180,180,180);
    --global-font-size: 16px;
    --global-font-family: "Segoe UI";
    --booger-bg: linear-gradient(to bottom, rgb(160,0,0)0%, rgb(255,51,34)2%, rgb(192,12,8)100%);
    --toolbar-bg: linear-gradient(to bottom, rgb(192,12,8)0%, rgb(255,51,34)92%, rgb(192,0,0)100%);
}

body {
    font-size: var(--global-font-size);
    font-family: var(--global-font-family);
    background-color: #F5F5F5;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

::selection {
    background: var(--select-color);
    color: #fff;
}


::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

@media print {
    body { display: none; }
}